@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=DynaPuff:wght@600&family=Roboto:wght@500&display=swap');

*{
  color: #fff;
  font-family:'Caveat'
}


html{
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
}

.btn{
  background-color: #3382ea;
  border: none;
  padding: 2.1%;
  border-radius: 30px;
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  }

.btn:hover{
  cursor: pointer;
  background-color: #0d66db;
}
/* Utility */
.black{
  color:#111
}

.center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.column{
  flex-direction: column !important;
}

.title{
  text-align: center;
  font-size: 3.4em !important;
  margin: 0 !important;
  letter-spacing: .4em !important;
}

h2{
  font-size: 3.2em;
  font-weight: 700;
  margin-bottom: 1em;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2vh;
}

h3{
  font-size: 2.1em;
  font-weight: 600;
}
.text{
  font-size: 1.3em;
}



/* Header */

.header-social{
  width: 50px;
  height: 50px;
  margin: 10px;
}

.header-social:hover{
  transform: scale(1.2);
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #e5e5e5;
}

.fade-in {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.hidden{
  opacity: 0;
}


/* Hero */

.hero-container{
  position: relative;
  border: 1px solid black;
  background-image: url('../src/assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 73vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency by changing the last value (0.5 in this example) */
}

.hero-content {
  width: 50% !important;
  text-align: center !important;
  z-index: 1;
}

.hero-text{
  font-size: 2em !important;
}

/* About */
.about-container {
  background-color: #0b6fad;
  padding: 4%;
  height: 80vh;
}

.about-text{
  text-align: center;
  font-weight: 600 !important;
  line-height: 1.7rem !important;
}


/* Gallery */
.gallery-container{
  height: 80vh;
  width: 50vw;
  margin: 0 auto
}

.gallery-caption{
  background-color: #1111115f;
}

.img{
  max-width: 70%;
  max-width: 70%;
  margin-top: 5%;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #111111;
  border-radius: 30px;
}

.carousel-indicators{
  display: none;
}

/* Contact */

.contact-container{
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
}

.contact-subtitle{
  width: 51%;
  margin-bottom: -3%;
}

.contact-left{
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#contact-form{
  flex-direction: column;
  width: 80%;
  height: 48%;
}

.contact-label{
  width: 70%;
  margin: 3% 0 1% 0;
}

.contact-input{
  background-color: rgba(211, 218, 218, 0.493);
  border: 1px solid #111;
  width: 69%;
  height: 26px;
  border-radius: 8px;
}

.contact-textarea{
  background-color:rgba(211, 218, 218, 0.493);
  resize: none;
  width: 69%;
  height: 30%;
  border-radius: 8px;
}

.contact-image {
  width: 50%;
  padding: 2%;
  margin-top: 10%;
}


.contact-submit{
  margin-top: 2%;

}

.contact-submit:hover{
  background-color: #0d66db;
}


/* Subscribe */

.input{
  margin-bottom: 2%;
  width: 20em;
  height: 5vh;
  border: 2px solid rgba(71, 69, 69, 0.329);
  padding-left: 1%;
}

.input::placeholder {
  color: rgba(71, 69, 69, 0.329); /* Replace #ff0000 with your desired color for the placeholder */
}

#subscribe-form{
  width: 100%;
}

/* footer */

.footer-container {
  background-color: #111;
}

.footer-content{
  flex-direction: row;
}

.footer-social{
  width: 10%;
  align-self: flex-end;
  margin-bottom: .3%;
}

/* Media Queries */

@media screen and (max-width:475px)   {
  .hero-text{
    font-weight: 600 !important;
  }
  #request-btn{
    margin-top: 20%;
    padding: 7%
  }
  html{
    font-size: 10px;
  }
  .about-container {
    height: 100vh;
  }

}