@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=DynaPuff:wght@600&family=Roboto:wght@500&display=swap');

*{
  color: #fff;
  font-family:'Caveat'
}


html{
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
}

.btn{
  background-color: #3382ea;
  border: none;
  padding: 2.1%;
  border-radius: 30px;
  font-size: 1.5em;
  font-weight: 600;
   color: #fff;
   letter-spacing: .2em;
  }

.btn:hover{
  cursor: pointer;
  background-color: #0d66db;
}
/* Utility */
.black{
  color:#111
}

.center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.column{
  flex-direction: column !important;
}

.title{
  text-align: center;
  font-size: 3.4em !important;
  margin: 0 !important;
  letter-spacing: .4em !important;
}

h2{
  font-size: 3.2em;
  font-weight: 700;
  margin-bottom: 1em;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2vh;
}

h3{
  font-size: 2.1em;
  font-weight: 600;
}
.text{
  font-size: 1.3em;
}



/* Header */

.header-social{
  width: 50px;
  height: 50px;
  margin: 10px;
}

.header-social:hover{
  transform: scale(1.2);
}

#burger{
  display: none;
}

/* Hero */

.hero-container{
  position: relative;
  background-image: url('../src/assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 88vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency by changing the last value (0.5 in this example) */
}

.hero-content {
  width: 50% !important;
  text-align: center !important;
  z-index: 1;
}

.hero-text{
  font-size: 1.8em !important;
  letter-spacing: .123em !important;
  margin-bottom: 3.6vh !important;
}

/* About */
.about-container {
  background-color: #0b6fad;
  padding: 4%;
  height: 80vh;
}

.about-text{
  text-align: center;
  font-weight: 600 !important;
  line-height: 1.7rem !important;
}


/* Gallery */
.gallery-container{
  height: 80vh;
  width: 50vw;
  margin: 0 auto
}

.gallery-caption{
  background-color: #1111115f;
}

.img{
  max-width: 70%;
  max-width: 70%;
  margin-top: 5%;
}

.c-img{
  max-height: 60vh;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #111111;
  border-radius: 30px;
}

.carousel-indicators{
  display: none;
}

/* Contact */

#Contact{
  position: relative;
}

.contact-container{
padding: 5%;

}

.contact-subtitle{
  width: 100%;
  margin: 6% 0;
  font-size: 1.4em;
  text-align: center;
}

.contact-left{
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#contact-form{
  flex-direction: column;
  width: 80%;
  height: 48%;

}

.contact-label{
  width: 70%;
  margin: 3% 0 1% 0;;
}

input, textarea{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  padding-left: .6em;
}

.contact-input{
  background-color: rgba(211, 218, 218, 0.493);
  border: 1px solid #111;
  width: 100%;
  height: 26px;
  border-radius: 8px;

}

.contact-textarea{
  background-color:rgba(211, 218, 218, 0.493);
  resize: none;
  width: 100%;
  height: 5em;
  border-radius: 8px;
}


.contact-submit{
  margin-top: 2%;
  text-align: center;
}

.contact-submit:hover{
  background-color: #0d66db;
}


/* Subscribe */

#sub{
  position: relative;
}

.input{
  margin-bottom: 2%;
  width: 20em;
  height: 5vh;
  border: 2px solid rgba(71, 69, 69, 0.329);
  padding-left: 1%;
}

.input::placeholder {
  color: rgba(71, 69, 69, 0.329); /* Replace #ff0000 with your desired color for the placeholder */
}

#subscribe-form{
  width: 100%;
}

/* Divider */

.custom-shape-divider-bottom-1685595156 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1685595156 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 135px;
  z-index: -1;
}

.custom-shape-divider-bottom-1685595156 .shape-fill {
  fill: #4A90E2;
  z-index: -1;
}

.custom-shape-divider-top-1685595498 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1685595498 svg {
  position: relative;
  display: block;
  width: calc(494% + 1.3px);
  height: 143px;
  z-index: -1;
}

.custom-shape-divider-top-1685595498 .shape-fill {
  fill: #4A90E2;
  z-index: -1;
}

/* footer */

.footer-container {
  background-color: #111;
}

.footer-content{
  flex-direction: row;
}

.footer-social{
  width: 10%;
  align-self: flex-end;
  margin-bottom: .3%;
}

/* Media Queries */

@media screen and (max-width:475px)   {
  .hero-text{
    font-weight: 600 !important;
  }
  #request-btn{
    margin-top: 20%;
    padding: 7%
  }
  html{
    font-size: 12px;
  }
  .about-container {
    height: 120vh;
  }
  .gallery-container{
    width: 80vw;
  }
  .contact-container{
    height: 150vh !important;
  }
  #burger{
    display: block;
  }

}